@import 'themes.scss';

.btn {
  border-radius: 2px;
  cursor: pointer;
  transition: all .1s linear;
  transform: translate(-3px, 3px);
  margin: .35vw;
}

.btn:hover {
  box-shadow: -3px 3px $dark;
  transform: translate(0, 0);
}

.btn:active {
  box-shadow: -2px 2px $dark;
  transform: translate(-1px, 1px);
}

.btn:focus {
  outline: none;
}

.btn[disabled] {
  opacity: .9;
  cursor: default;

  &:hover {
    box-shadow: 0 0 $dark;
    transform: translate(-3px, 3px);
  }

  &:active {
    box-shadow: 0 0 $dark;
    transform: translate(-3px, 3px);
  }
}

.btn-default.default {
  border: solid $dark 1.3px;
  color: $dark;
  background-color: #fff;
}

.btn-blue {
  border: solid $blue 1.3px;
  background-color: $blue;

  &:hover {
    box-shadow: -3px 3px $blue-hover;
    transform: translate(0, 0);
  }

  &:active {
    box-shadow: -2px 2px $blue-hover;
    transform: translate(-1px, 1px);
  }
}

.btn-red {
  border: solid $red 1.3px;
  background-color: $red;

  &:hover {
    box-shadow: -3px 3px $red-hover;
    transform: translate(0, 0);
  }

  &:active {
    box-shadow: -2px 2px $red-hover;
    transform: translate(-1px, 1px);
  }
}

.btn-green {
  border: solid $green 1.3px;
  background-color: $green;

  &:hover {
    box-shadow: -3px 3px $green-hover;
    transform: translate(0, 0);
  }

  &:active {
    box-shadow: -2px 2px $green-hover;
    transform: translate(-1px, 1px);
  }
}

.btn-yellow {
  border: solid $yellow 1.3px;
  background-color: $yellow;

  &:hover {
    box-shadow: -3px 3px $yellow-hover;
    transform: translate(0, 0);
  }

  &:active {
    box-shadow: -2px 2px $yellow-hover;
    transform: translate(-1px, 1px);
  }
}

.btn-orange {
  border: solid $orange 1.3px;
  background-color: $orange;

  &:hover {
    box-shadow: -3px 3px $orange-hover;
    transform: translate(0, 0);
  }

  &:active {
    box-shadow: -2px 2px $orange-hover;
    transform: translate(-1px, 1px);
  }
}

.btn-purple {
  border: solid $purple 1.3px;
  background-color: $purple;

  &:hover {
    box-shadow: -3px 3px $purple-hover;
    transform: translate(0, 0);
  }

  &:active {
    box-shadow: -2px 2px $purple-hover;
    transform: translate(-1px, 1px);
  }
}

.btn-pink {
  border: solid $pink 1.3px;
  background-color: $pink;

  &:hover {
    box-shadow: -3px 3px $pink-hover;
    transform: translate(0, 0);
  }

  &:active {
    box-shadow: -2px 2px $pink-hover;
    transform: translate(-1px, 1px);
  }
}

.btn-small {
  min-width: 10vh;
  height: 4vh;
  font-size: .8em;
}

.btn-medium {
  min-width: 12vh;
  height: 5vh;
  font-size: 1em;
}

.btn-large {
  min-width: 14vh;
  height: 6vh;
  font-size: 1.2em;
}
