.btn {
  border-radius: 2px;
  cursor: pointer;
  transition: all .1s linear;
  transform: translate(-3px, 3px);
  margin: .35vw; }

.btn:hover {
  box-shadow: -3px 3px #17202A;
  transform: translate(0, 0); }

.btn:active {
  box-shadow: -2px 2px #17202A;
  transform: translate(-1px, 1px); }

.btn:focus {
  outline: none; }

.btn[disabled] {
  opacity: .9;
  cursor: default; }
  .btn[disabled]:hover {
    box-shadow: 0 0 #17202A;
    transform: translate(-3px, 3px); }
  .btn[disabled]:active {
    box-shadow: 0 0 #17202A;
    transform: translate(-3px, 3px); }

.btn-default.default {
  border: solid #17202A 1.3px;
  color: #17202A;
  background-color: #fff; }

.btn-blue {
  border: solid #2F84D8 1.3px;
  background-color: #2F84D8; }
  .btn-blue:hover {
    box-shadow: -3px 3px #163C63;
    transform: translate(0, 0); }
  .btn-blue:active {
    box-shadow: -2px 2px #163C63;
    transform: translate(-1px, 1px); }

.btn-red {
  border: solid #E8372E 1.3px;
  background-color: #E8372E; }
  .btn-red:hover {
    box-shadow: -3px 3px #C93028;
    transform: translate(0, 0); }
  .btn-red:active {
    box-shadow: -2px 2px #C93028;
    transform: translate(-1px, 1px); }

.btn-green {
  border: solid #71E045 1.3px;
  background-color: #71E045; }
  .btn-green:hover {
    box-shadow: -3px 3px #5DB839;
    transform: translate(0, 0); }
  .btn-green:active {
    box-shadow: -2px 2px #5DB839;
    transform: translate(-1px, 1px); }

.btn-yellow {
  border: solid #F1DB5E 1.3px;
  background-color: #F1DB5E; }
  .btn-yellow:hover {
    box-shadow: -3px 3px #E5CB39;
    transform: translate(0, 0); }
  .btn-yellow:active {
    box-shadow: -2px 2px #E5CB39;
    transform: translate(-1px, 1px); }

.btn-orange {
  border: solid #ED8C31 1.3px;
  background-color: #ED8C31; }
  .btn-orange:hover {
    box-shadow: -3px 3px #D8802D;
    transform: translate(0, 0); }
  .btn-orange:active {
    box-shadow: -2px 2px #D8802D;
    transform: translate(-1px, 1px); }

.btn-purple {
  border: solid #9D2FD8 1.3px;
  background-color: #9D2FD8; }
  .btn-purple:hover {
    box-shadow: -3px 3px #A541DB;
    transform: translate(0, 0); }
  .btn-purple:active {
    box-shadow: -2px 2px #A541DB;
    transform: translate(-1px, 1px); }

.btn-pink {
  border: solid #ED31CD 1.3px;
  background-color: #ED31CD; }
  .btn-pink:hover {
    box-shadow: -3px 3px #EE43D1;
    transform: translate(0, 0); }
  .btn-pink:active {
    box-shadow: -2px 2px #EE43D1;
    transform: translate(-1px, 1px); }

.btn-small {
  min-width: 10vh;
  height: 4vh;
  font-size: .8em; }

.btn-medium {
  min-width: 12vh;
  height: 5vh;
  font-size: 1em; }

.btn-large {
  min-width: 14vh;
  height: 6vh;
  font-size: 1.2em; }
