.card {
  text-align: center;
  min-width: 12vw;
  min-height: 16vh;
  max-width: 20vw;
  padding: 2vh;
  margin: 2vh 1vw;
  cursor: pointer;
  transition: all .2s linear;
  background-size: 0%;
  border-radius: 1rem; }
  .card:hover {
    transform: scale(1.02);
    background-position: center;
    background-size: 80%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3), 0 4px 10px 0 rgba(0, 0, 0, 0.15); }

.card-default {
  background-color: #ddd; }
  .card-default:hover {
    background: #ccc radial-gradient(circle, transparent 1%, #ccc 1%) center/15000%; }
  .card-default:active {
    background-color: #ddd;
    background-size: 100%;
    transition: background-size .3s linear; }

.card-primary {
  background-color: #2F84D8;
  color: #fff; }
  .card-primary:hover {
    background: #163C63 radial-gradient(circle, transparent 1%, #163C63 1%) center/15000%; }
  .card-primary:active {
    background-color: #2F84D8;
    background-size: 100%;
    transition: background-size .3s linear; }

.card-secondary {
  background-color: #E8372E;
  color: #fff; }
  .card-secondary:hover {
    background: #A92922 radial-gradient(circle, transparent 1%, #A92922 1%) center/15000%; }
  .card-secondary:active {
    background-color: #E8372E;
    background-size: 100%;
    transition: background-size .3s linear; }
