@import './themes.scss';

.card {
  text-align: center;
  min-width: 12vw;
  min-height: 16vh;
  max-width: 20vw;
  padding: 2vh;
  margin: 2vh 1vw;
  cursor: pointer;
  transition: all .2s linear;
  background-size: 0%;
  border-radius: 1rem;

  &:hover {
    transform: scale(1.02);
    background-position: center;
    background-size: 80%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .3), 0 4px 10px 0 rgba(0, 0, 0, .15);
  }
}

.card-default {
  background-color: #ddd;

  &:hover {
    background: #ccc radial-gradient(circle, transparent 1%, #ccc 1%) center/15000%;
  }

  &:active {
    background-color: #ddd;
    background-size: 100%;
    transition: background-size .3s linear;
  }
}

.card-primary {
  background-color: $primary;
  color: #fff;

  &:hover {
    background: $primary-hover radial-gradient(circle, transparent 1%, $primary-hover 1%) center/15000%;
  }

  &:active {
    background-color: $primary;
    background-size: 100%;
    transition: background-size .3s linear;
  }
}

.card-secondary {
  background-color: $secondary;
  color: #fff;

  &:hover {
    background: $secondary-hover radial-gradient(circle, transparent 1%, $secondary-hover 1%) center/15000%;
  }

  &:active {
    background-color: $secondary;
    background-size: 100%;
    transition: background-size .3s linear;
  }
}
