@import 'themes.scss';

.blue {
  background-color: $blue;
  color: #fff;
}

.green {
  background-color: $green;
  color: #000;
}

.yellow {
  background-color: $yellow;
  color: #000;
}

.orange {
  background-color: $orange;
  color: #fff;
}

.purple {
  background-color: $purple;
  color: #fff;
}

.pink {
  background-color: $pink;
  color: #000;
}

.red {
  background-color: $red;
  color: #fff;
}

.default {
  background-color: $dark;
  color: #fff;
}
