@import 'themes.scss';

.primary {
  background-color: $primary;
  color: #fff;
}

.secondary {
  background-color: $secondary;
  color: #fff;
}

.default {
  background-color: $dark;
  color: #fff;
}
