.header-default {
  color: #17202A; }

.header-blue {
  color: #2F84D8; }

.header-red {
  color: #E8372E; }

.header-green {
  color: #71E045; }

.header-orange {
  color: #ED8C31; }

.header-yellow {
  color: #F1DB5E; }

.header-purple {
  color: #9D2FD8; }

.header-pink {
  color: #ED31CD; }

.header-skewed {
  transform: skew(-8deg, 0); }

.header-highlight-default {
  color: #fff;
  background-color: #17202A;
  display: inline-block; }

.header-highlight {
  display: inline-block; }
