@import './themes.scss';

.header-default {
  color: #000;
}

.header-primary {
  color: $primary;
}

.header-secondary {
  color: $secondary;
}

.header-skewed {
  transform: skew(-8deg, 0);
}

.header-highlight-default {
  color: #fff;
  background-color: $dark;
  display: inline-block;
}

.header-highlight-primary {
  color: #fff;
  background-color: $primary;
  display: inline-block;
}

.header-highlight-secondary {
  color: #fff;
  background-color: $secondary;
  display: inline-block;
}
