.input-base {
  flex-direction: column;
  display: flex;
  padding: .5rem;
  width: 80%;
  box-sizing: border-box; }

.input {
  font-size: 1.2em;
  border: none;
  border-bottom: 1px solid #222;
  transition: all .2s ease;
  margin-bottom: 1em; }
  .input:hover {
    border-bottom: 1.5px solid #2F84D8; }
  .input:focus {
    outline: none;
    border-bottom: 1.5px solid #2F84D8; }
  .input.error {
    border-bottom: 1.5px solid red; }

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  width: 100%;
  margin-right: -.8em;
  margin-bottom: 0; }

.select-holder {
  display: flex;
  margin-bottom: 1em; }

.input-label {
  position: absolute;
  transform: scale(1) translate(0, 0);
  transition: transform .2s linear, color .2s linear; }
  .input-label.filled {
    transform: scale(0.85) translate(0, -22px);
    color: #2F84D8; }
  .input-label.error {
    color: red; }

.error-message {
  color: red;
  transform: translate(0, 6px); }
