// COLORS
$blue: #2F84D8;
$blue-hover: #163C63;
$blue-light: #7ABCFF;

$red: #E8372E;
$red-hover: #C93028;

$dark: #17202A;
$light: #ddd;

$green: #71E045;
$green-hover: #5DB839;

$yellow: #F1DB5E;
$yellow-hover: #E5CB39;

$orange: #ED8C31;
$orange-hover: #D8802D;

$purple: #9D2FD8;
$purple-hover: #A541DB;

$pink: #ED31CD;
$pink-hover: #EE43D1;
