// COLORS

$primary: #2F84D8;
$primary-hover: #163C63;
$primary-light: #7ABCFF;
$secondary: #E8372E;
$secondary-hover: #A92922;
$dark: #17202A;
$green: #71E045;
$yellow: #EFD43B;
$orange: #ED8C31;

// SIZES
